#u897-3
{
	background-color: #FFFFFF;
}

#u1433
{
	background-color: #303030;
}

#u1436
{
	background-color: transparent;
}

@media (min-width: 769px)
{
	#u1433_align_to_page
	{
		max-width: 1200px;
	}

	#u1446
	{
		display: block;
		vertical-align: top;
	}

	#u1456-4
	{
		background-color: transparent;
		color: #FFFFFF;
		font-size: 18px;
		line-height: 22px;
	}

}

@media (min-width: 321px) and (max-width: 768px)
{
	#u1433_align_to_page
	{
		max-width: 768px;
	}

	#u1446
	{
		display: block;
		vertical-align: top;
	}

	#u1456-4
	{
		background-color: transparent;
		color: #FFFFFF;
		font-size: 18px;
		line-height: 22px;
	}

}

@media (max-width: 320px)
{
	#u1433_align_to_page
	{
		max-width: 320px;
	}

	#u1446
	{
		background-color: transparent;
	}

}

