	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 683px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu13370
	{
		z-index: 76;
		width: 16.34%;
	}

	#u13374
	{
		z-index: 79;
		width: 7.15%;
		left: 92.86%;
	}

	#u13372:hover #u13374
	{
		width: 7.15%;
	}

	#u13372:active #u13374
	{
		width: 7.15%;
	}

	#u13372.MuseMenuActive #u13374
	{
		width: 7.15%;
	}

	#u13375-4
	{
		width: 92.86%;
	}

	#u13372:hover #u13375-4
	{
		width: 92.86%;
	}

	#u13372:active #u13375-4
	{
		width: 92.86%;
	}

	#u13372.MuseMenuActive #u13375-4
	{
		width: 92.86%;
	}

	#u13376
	{
		width: 61.23%;
	}

	#menuu13406
	{
		z-index: 110;
		width: 18.34%;
		margin-left: 81.67%;
	}

	#u13407
	{
		width: 49.55%;
	}

	#u13414
	{
		width: 49.55%;
		left: 50.46%;
	}

	#u11451
	{
		z-index: 14;
		margin-top: 28px;
		width: 18.42%;
		margin-left: 36.67%;
	}

	#u11452-4
	{
		z-index: 15;
		width: 92.31%;
		left: 3.62%;
	}

	#widgetu11466
	{
		z-index: 19;
		margin-top: 28px;
		margin-left: 35.84%;
	}

	#widgetu11475
	{
		z-index: 20;
	}

	#u11478-4
	{
		z-index: 21;
	}

	#u11476-4
	{
		z-index: 25;
	}

	#widgetu11468
	{
		z-index: 29;
	}

	#u11470-4
	{
		z-index: 30;
	}

	#u11469-4
	{
		z-index: 34;
	}

	#u11474-4
	{
		z-index: 38;
	}

	#u11472-4
	{
		z-index: 42;
	}

	#u11473-4
	{
		z-index: 46;
	}

	#u11467-17
	{
		z-index: 50;
		background-image: url("../images/u11467-17.png");
	}

	#u11467-17:hover
	{
		background-image: url("../images/u11467-17-r.png");
	}

	#u11467-17:active
	{
		background-image: url("../images/u11467-17-m.png");
	}

	#widgetu11466.frm-sub-st #u11467-17
	{
		background-image: url("../images/u11467-17-fs.png");
	}

	#widgetu11479
	{
		z-index: 67;
	}

	#u11480-4
	{
		z-index: 68;
	}

	#u11482-4
	{
		z-index: 72;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 77px;
	}

