	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1210px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu11935
	{
		z-index: 22;
		width: 18.34%;
		left: 66.92%;
	}

	#u11936
	{
		width: 49.55%;
	}

	#u11943
	{
		width: 49.55%;
		left: 50.46%;
	}

	#menuu11950
	{
		z-index: 35;
		width: 16.34%;
	}

	#u11954-4
	{
		width: 92.86%;
	}

	#u11952:hover #u11954-4
	{
		width: 92.86%;
	}

	#u11952:active #u11954-4
	{
		width: 92.86%;
	}

	#u11952.MuseMenuActive #u11954-4
	{
		width: 92.86%;
	}

	#u11955
	{
		z-index: 42;
		width: 7.15%;
		left: 92.86%;
	}

	#u11952:hover #u11955
	{
		width: 7.15%;
	}

	#u11952:active #u11955
	{
		width: 7.15%;
	}

	#u11952.MuseMenuActive #u11955
	{
		width: 7.15%;
	}

	#u11956
	{
		width: 61.23%;
	}

	#u5552
	{
		z-index: 14;
		margin-top: 13px;
	}

	#u5554
	{
		z-index: 16;
		margin-top: 10px;
	}

	#u5760
	{
		z-index: 18;
		margin-top: 10px;
	}

	#u5767
	{
		z-index: 20;
		margin-top: 9px;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 19px;
	}

