	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 774px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu8709
	{
		z-index: 41;
		width: 18.34%;
		left: 73.34%;
	}

	#u8710
	{
		width: 49.55%;
	}

	#u8717
	{
		width: 49.55%;
		left: 50.46%;
	}

	#menuu8724
	{
		z-index: 54;
		left: 97px;
		width: 16.34%;
	}

	#u8729-4
	{
		width: 92.86%;
	}

	#u8726:hover #u8729-4
	{
		width: 92.86%;
	}

	#u8726:active #u8729-4
	{
		width: 92.86%;
	}

	#u8726.MuseMenuActive #u8729-4
	{
		width: 92.86%;
	}

	#u8727
	{
		z-index: 61;
		width: 7.15%;
		left: 92.86%;
	}

	#u8726:hover #u8727
	{
		width: 7.15%;
	}

	#u8726:active #u8727
	{
		width: 7.15%;
	}

	#u8726.MuseMenuActive #u8727
	{
		width: 7.15%;
	}

	#u8730
	{
		width: 61.23%;
	}

	#pamphletu1933
	{
		z-index: 30;
		height: 83px;
		padding-bottom: 375px;
		margin-top: 9px;
		margin-left: 8.09%;
	}

	#u1934
	{
		z-index: 31;
		width: 186px;
		left: 201px;
	}

	#u1935
	{
		width: 186px;
		height: 82px;
	}

	#u1935:hover
	{
		width: 185px;
		height: 81px;
	}

	#u1935.PamphletThumbSelected
	{
		width: 186px;
		height: 82px;
	}

	#u1939
	{
		width: 611px;
		top: 82px;
	}

	#u1939popup
	{
		z-index: 33;
	}

	#u1954
	{
		z-index: 34;
		width: 609px;
		height: 374px;
	}

	#u1955
	{
		z-index: 35;
		width: 29.4%;
		left: 3.12%;
	}

	#u1959
	{
		z-index: 37;
		width: 29.4%;
		left: 34.98%;
	}

	#u1957
	{
		z-index: 39;
		width: 29.07%;
		left: 67.66%;
	}

	#pu1929
	{
		margin-top: -458px;
		width: 100%;
	}

	#u1929
	{
		z-index: 20;
		padding-bottom: 12px;
		margin-right: -10000px;
		width: 15.5%;
		left: 8.25%;
	}

	#u1930-4
	{
		z-index: 21;
		margin-top: 12px;
		width: 84.41%;
		left: 8.07%;
	}

	#u1931
	{
		z-index: 25;
		padding-bottom: 4px;
		margin-right: -10000px;
		width: 15.5%;
		left: 24.84%;
	}

	#u1931:hover
	{
		margin-right: -10000px;
		margin-bottom: 0px;
		width: 15.5%;
		margin-left: 0%;
	}

	#u1932-4
	{
		z-index: 26;
		min-height: 51px;
		margin-top: 27px;
		width: 84.41%;
		left: 8.07%;
	}

	#u1927
	{
		z-index: 15;
		padding-bottom: 12px;
		margin-right: -10000px;
		width: 15.5%;
		left: 41.42%;
	}

	#u1928-4
	{
		z-index: 16;
		min-height: 43px;
		margin-top: 27px;
		width: 84.41%;
		left: 8.07%;
	}

	#u1926
	{
		z-index: 14;
		top: -356px;
		margin-bottom: -356px;
		width: 83.59%;
		margin-left: 8.25%;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 45px;
	}

