	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 683px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu12550
	{
		z-index: 67;
		width: 18.34%;
		left: 66.92%;
	}

	#u12551
	{
		width: 49.55%;
	}

	#u12558
	{
		width: 49.55%;
		left: 50.46%;
	}

	#menuu12565
	{
		z-index: 80;
		width: 16.34%;
	}

	#u12569-4
	{
		width: 92.86%;
	}

	#u12567:hover #u12569-4
	{
		width: 92.86%;
	}

	#u12567:active #u12569-4
	{
		width: 92.86%;
	}

	#u12567.MuseMenuActive #u12569-4
	{
		width: 92.86%;
	}

	#u12570
	{
		z-index: 87;
		width: 7.15%;
		left: 92.86%;
	}

	#u12567:hover #u12570
	{
		width: 7.15%;
	}

	#u12567:active #u12570
	{
		width: 7.15%;
	}

	#u12567.MuseMenuActive #u12570
	{
		width: 7.15%;
	}

	#u12571
	{
		width: 61.23%;
	}

	#u11574
	{
		z-index: 14;
		margin-top: 54px;
		width: 18.42%;
		margin-left: 36.67%;
	}

	#u11575-4
	{
		z-index: 15;
		width: 92.31%;
		left: 3.62%;
	}

	#widgetu11576
	{
		z-index: 19;
		margin-top: 28px;
		margin-left: 35.75%;
	}

	#widgetu11580
	{
		z-index: 20;
	}

	#u11583-4
	{
		z-index: 21;
	}

	#u11581-4
	{
		z-index: 25;
	}

	#u11578-4
	{
		z-index: 29;
	}

	#u11579-4
	{
		z-index: 33;
	}

	#u11577-4
	{
		z-index: 37;
	}

	#u11588-17
	{
		z-index: 41;
		background-image: url("../images/u11588-17.png");
	}

	#u11588-17:hover
	{
		background-image: url("../images/u11588-17-r.png");
	}

	#u11588-17:active
	{
		background-image: url("../images/u11588-17-m.png");
	}

	#widgetu11576.frm-sub-st #u11588-17
	{
		background-image: url("../images/u11588-17-fs.png");
	}

	#widgetu11589
	{
		z-index: 58;
	}

	#u11592-4
	{
		z-index: 59;
	}

	#u11590-4
	{
		z-index: 63;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 51px;
	}

