	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 683px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu6431
	{
		z-index: 14;
		width: 18.34%;
		left: 73.5%;
	}

	#u6439
	{
		width: 49.55%;
	}

	#u6432
	{
		width: 49.55%;
		left: 50.46%;
	}

	#menuu6446
	{
		z-index: 27;
		width: 16.34%;
	}

	#u6480-4
	{
		width: 92.86%;
	}

	#u6478:hover #u6480-4
	{
		width: 92.86%;
	}

	#u6478:active #u6480-4
	{
		width: 92.86%;
	}

	#u6478.MuseMenuActive #u6480-4
	{
		width: 92.86%;
	}

	#u6479
	{
		z-index: 34;
		width: 7.15%;
		left: 92.86%;
	}

	#u6478:hover #u6479
	{
		width: 7.15%;
	}

	#u6478:active #u6479
	{
		width: 7.15%;
	}

	#u6478.MuseMenuActive #u6479
	{
		width: 7.15%;
	}

	#u6448
	{
		width: 61.23%;
	}

	#u6636
	{
		z-index: 61;
		width: 22.92%;
		left: 13.92%;
	}

	#u6641
	{
		z-index: 63;
		width: 22.92%;
		left: 38.5%;
	}

	#u6636_img,#u6641_img
	{
		width: 100%;
	}

	#u6646
	{
		z-index: 65;
		width: 22.92%;
		left: 63.09%;
	}

	#u6646_img
	{
		width: 100.37%;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 26px;
	}

