.version.patrocinios_extranjero /* version checker */
{
	color: #000013;
	background-color: #1237D0;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	background-color: #DD4A3A;
}

#u897-3,#u897-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu9384
{
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u9385,#u9392
{
	margin-right: -10000px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u9386,#u9393
{
	padding-bottom: 17px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u9388-4,#u9396-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	width: 100%;
	background-color: transparent;
}

#u9386:hover #u9388-4,#u9386:active #u9388-4,#u9386.MuseMenuActive #u9388-4,#u9393:hover #u9396-4,#u9393:active #u9396-4,#u9393.MuseMenuActive #u9396-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.MenuItem
{
	cursor: pointer;
}

#menuu9399
{
	margin-right: -10000px;
	left: 20px;
	border-width: 0px;
	margin-top: 1px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u9400
{
	margin-right: -10000px;
	min-height: 33px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u9401
{
	padding-bottom: 16px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u9386:active,#u9393:active,#u9401:active
{
	min-height: 0px;
	width: 100%;
	background-color: #6B6B6B;
	margin: 0px 0px 0px 0%;
}

#u9386:hover,#u9393:hover,#u9401:hover,#u9401.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	background-color: #999999;
	margin: 0px 0px 0px 0%;
}

#u9404-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	background-color: transparent;
}

#u9401:hover #u9404-4,#u9401:active #u9404-4,#u9401.MuseMenuActive #u9404-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u9403
{
	margin-right: -10000px;
	height: 14px;
	position: relative;
	top: 9px;
	background: transparent url("../images/arrowmenudown.png") no-repeat center center;
}

#u9401:hover #u9403,#u9401:active #u9403,#u9401.MuseMenuActive #u9403
{
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u9405
{
	top: 33px;
	background-color: transparent;
}

#u9417
{
	margin-right: -10000px;
	left: 0%;
	top: 0px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u9406,#u9414,#u9421,#u9407,#u9428
{
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u9424,#u9410,#u9431
{
	margin-right: -10000px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u9424:hover,#u9410:hover,#u9431:hover
{
	min-height: 0px;
	width: 100%;
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0%;
}

#u9417.MuseMenuActive,#u9431.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	background-color: #666666;
	margin: 0px -10000px 0px 0%;
}

#u9419-4,#u9427-4,#u9412-4,#u9433-4
{
	margin-right: -10000px;
	left: 1.67%;
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	top: 2px;
	width: 95%;
	background-color: transparent;
}

#u9417:hover #u9419-4,#u9417.MuseMenuActive #u9419-4,#u9424:hover #u9427-4,#u9424.MuseMenuActive #u9427-4,#u9410:hover #u9412-4,#u9410.MuseMenuActive #u9412-4,#u9431:hover #u9433-4,#u9431.MuseMenuActive #u9433-4
{
	min-height: 13px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u9419-3,#u9427-3,#u9412-3,#u9433-3
{
	margin-right: 2px;
	color: #DD4A3A;
	margin-left: 2px;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
}

#u5525,#u5533,#u5740,#u5750
{
	border-radius: 15px;
	position: relative;
	width: 100%;
	background-color: transparent;
}

#u5525 .clip_frame,#u5533 .clip_frame,#u5740 .clip_frame,#u5750 .clip_frame
{
	-webkit-border-radius: 15px 15px 15px 15px;
}

#u1433_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u1436
{
	margin-right: -10000px;
	z-index: 6;
	position: relative;
}

#u1446
{
	margin-right: -10000px;
	z-index: 8;
	position: relative;
}

#u1433,#u1433-bw
{
	z-index: 5;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#pu897-3,#u5525_img,#u5533_img,#u5740_img,#u5750_img,#u1436_img
{
	width: 100%;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1291px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu9384
	{
		z-index: 22;
		width: 18.34%;
		left: 73.42%;
	}

	#u9385
	{
		width: 49.55%;
	}

	#u9392
	{
		width: 49.55%;
		left: 50.46%;
	}

	#menuu9399
	{
		z-index: 35;
		width: 16.34%;
	}

	#u9404-4
	{
		width: 92.86%;
	}

	#u9401:hover #u9404-4
	{
		width: 92.86%;
	}

	#u9401:active #u9404-4
	{
		width: 92.86%;
	}

	#u9401.MuseMenuActive #u9404-4
	{
		width: 92.86%;
	}

	#u9403
	{
		z-index: 42;
		width: 7.15%;
		left: 92.86%;
	}

	#u9401:hover #u9403
	{
		width: 7.15%;
	}

	#u9401:active #u9403
	{
		width: 7.15%;
	}

	#u9401.MuseMenuActive #u9403
	{
		width: 7.15%;
	}

	#u9405
	{
		width: 61.23%;
	}

	#u5525
	{
		z-index: 14;
		margin-top: 17px;
	}

	#u5533
	{
		z-index: 16;
		margin-top: 11px;
	}

	#u5740
	{
		z-index: 18;
		margin-top: 11px;
	}

	#u5750
	{
		z-index: 20;
		margin-top: 11px;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 92px;
	}
}

@media (min-width: 321px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1290.9499999999998px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#menuu9384
	{
		z-index: 22;
		width: 18.36%;
		left: 73.44%;
	}

	#u9385
	{
		width: 48.94%;
	}

	#u9392
	{
		width: 48.94%;
		left: 50.36%;
	}

	#menuu9399
	{
		z-index: 35;
		width: 16.28%;
	}

	#u9404-4
	{
		width: 88.8%;
	}

	#u9401:hover #u9404-4
	{
		width: 88.8%;
	}

	#u9401:active #u9404-4
	{
		width: 88.8%;
	}

	#u9401.MuseMenuActive #u9404-4
	{
		width: 88.8%;
	}

	#u9403
	{
		z-index: 42;
		width: 11.21%;
		left: 88.8%;
	}

	#u9401:hover #u9403
	{
		width: 11.21%;
	}

	#u9401:active #u9403
	{
		width: 11.21%;
	}

	#u9401.MuseMenuActive #u9403
	{
		width: 11.21%;
	}

	#u9405
	{
		width: 96%;
	}

	#u5525
	{
		z-index: 14;
		margin-top: 17px;
	}

	#u5533
	{
		z-index: 16;
		margin-top: 11px;
	}

	#u5740
	{
		z-index: 18;
		margin-top: 11px;
	}

	#u5750
	{
		z-index: 20;
		margin-top: 11px;
	}

	#u1433
	{
		min-height: 95px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.54%;
		left: 1.7%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.08%;
		left: 24.61%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.38%;
		left: 35.81%;
	}

	#u1433-bw
	{
		min-height: 95px;
		margin-top: 452px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 469px;
		max-width: 320px;
	}

	#menuu9384
	{
		z-index: 18;
		width: 60.94%;
		left: 39.07%;
	}

	#u9385
	{
		width: 49.24%;
	}

	#u9392
	{
		width: 49.75%;
		left: 50.26%;
	}

	#menuu9399
	{
		z-index: 31;
		width: 16.25%;
	}

	#u9404-4
	{
		width: 73.08%;
	}

	#u9401:hover #u9404-4
	{
		width: 73.08%;
	}

	#u9401:active #u9404-4
	{
		width: 73.08%;
	}

	#u9401.MuseMenuActive #u9404-4
	{
		width: 73.08%;
	}

	#u9403
	{
		z-index: 38;
		width: 26.93%;
		left: 73.08%;
	}

	#u9401:hover #u9403
	{
		width: 26.93%;
	}

	#u9401:active #u9403
	{
		width: 26.93%;
	}

	#u9401.MuseMenuActive #u9403
	{
		width: 26.93%;
	}

	#u9405
	{
		width: 230.77%;
	}

	#u5525
	{
		z-index: 10;
		margin-top: 15px;
	}

	#u5533
	{
		z-index: 12;
		margin-top: 2px;
	}

	#u5740
	{
		z-index: 14;
		margin-top: 3px;
	}

	#u5750
	{
		z-index: 16;
		margin-top: 4px;
	}

	#u1433
	{
		min-height: 35px;
		padding-bottom: 16px;
	}

	#u1436
	{
		width: 19.38%;
		left: 4.69%;
	}

	#u1446
	{
		margin-top: 3px;
		width: 8.13%;
		left: 27.82%;
	}

	#u1433-bw
	{
		min-height: 35px;
		margin-top: 92px;
	}

	body
	{
		min-width: 320px;
	}

	#u1446_img
	{
		width: 100%;
	}
}

