.version.patrocinios_pasajero /* version checker */
{
	color: #000007;
	background-color: #92D908;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	background-color: #DD4A3A;
}

#u897-3,#u897-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu12755
{
	margin-right: -10000px;
	left: 20px;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u12756
{
	margin-right: -10000px;
	min-height: 33px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12757
{
	padding-bottom: 16px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12759
{
	margin-right: -10000px;
	height: 14px;
	position: relative;
	top: 9px;
	background: transparent url("../images/arrowmenudown.png") no-repeat center center;
}

#u12757:hover #u12759,#u12757:active #u12759,#u12757.MuseMenuActive #u12759
{
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u12760-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	background-color: transparent;
}

#u12757:hover #u12760-4,#u12757:active #u12760-4,#u12757.MuseMenuActive #u12760-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u12761
{
	top: 33px;
	background-color: transparent;
}

#u12780
{
	margin-right: -10000px;
	left: 0%;
	top: 0px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u12780.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	background-color: #666666;
	margin: 0px -10000px 0px 0%;
}

#u12762,#u12777,#u12770,#u12784,#u12763
{
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12773,#u12785,#u12764
{
	margin-right: -10000px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u12773:hover,#u12785:hover,#u12764:hover
{
	min-height: 0px;
	width: 100%;
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0%;
}

#u12782-4,#u12775-4,#u12786-4,#u12767-4
{
	margin-right: -10000px;
	left: 1.67%;
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	top: 2px;
	width: 95%;
	background-color: transparent;
}

#u12780:hover #u12782-4,#u12780.MuseMenuActive #u12782-4,#u12773:hover #u12775-4,#u12773.MuseMenuActive #u12775-4,#u12785:hover #u12786-4,#u12785.MuseMenuActive #u12786-4,#u12764:hover #u12767-4,#u12764.MuseMenuActive #u12767-4
{
	min-height: 13px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u12782-3,#u12775-3,#u12786-3,#u12767-3
{
	margin-right: 2px;
	color: #DD4A3A;
	margin-left: 2px;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
}

.MenuItem
{
	cursor: pointer;
}

#menuu12791
{
	margin-right: -10000px;
	left: -98px;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u12792,#u12799
{
	margin-right: -10000px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u12795,#u12802
{
	padding-bottom: 17px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12757:hover,#u12757.MuseMenuActive,#u12795:hover,#u12802:hover
{
	min-height: 0px;
	width: 100%;
	background-color: #999999;
	margin: 0px 0px 0px 0%;
}

#u12757:active,#u12795:active,#u12802:active
{
	min-height: 0px;
	width: 100%;
	background-color: #6B6B6B;
	margin: 0px 0px 0px 0%;
}

#u12797-4,#u12803-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	width: 100%;
	background-color: transparent;
}

#u12795:hover #u12797-4,#u12795:active #u12797-4,#u12795.MuseMenuActive #u12797-4,#u12802:hover #u12803-4,#u12802:active #u12803-4,#u12802.MuseMenuActive #u12803-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5545
{
	border-radius: 40px;
	margin-top: 17px;
	position: relative;
	width: 100%;
	background-color: transparent;
}

#u5545 .clip_frame
{
	-webkit-border-radius: 40px 40px 40px 40px;
}

#u5774
{
	border-radius: 37px;
	margin-top: 17px;
	position: relative;
	width: 100%;
	background-color: transparent;
}

#u5779
{
	border-radius: 37px;
	position: relative;
	width: 100%;
	background-color: transparent;
}

#u5774 .clip_frame,#u5779 .clip_frame
{
	-webkit-border-radius: 37px 37px 37px 37px;
}

#u5791
{
	border-radius: 31px;
	margin-top: 18px;
	position: relative;
	width: 100%;
	background-color: transparent;
}

#u5791 .clip_frame
{
	-webkit-border-radius: 31px 31px 31px 31px;
}

#u1433_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u1436
{
	margin-right: -10000px;
	z-index: 6;
	position: relative;
}

#u1446
{
	margin-right: -10000px;
	z-index: 8;
	position: relative;
}

#u1433,#u1433-bw
{
	z-index: 5;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#pu897-3,#u1436_img
{
	width: 100%;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1232px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu12755
	{
		z-index: 22;
		width: 16.34%;
	}

	#u12759
	{
		z-index: 25;
		width: 7.15%;
		left: 92.86%;
	}

	#u12757:hover #u12759
	{
		width: 7.15%;
	}

	#u12757:active #u12759
	{
		width: 7.15%;
	}

	#u12757.MuseMenuActive #u12759
	{
		width: 7.15%;
	}

	#u12760-4
	{
		width: 92.86%;
	}

	#u12757:hover #u12760-4
	{
		width: 92.86%;
	}

	#u12757:active #u12760-4
	{
		width: 92.86%;
	}

	#u12757.MuseMenuActive #u12760-4
	{
		width: 92.86%;
	}

	#u12761
	{
		width: 61.23%;
	}

	#menuu12791
	{
		z-index: 56;
		width: 18.34%;
		margin-left: 81.67%;
	}

	#u12792
	{
		width: 49.55%;
	}

	#u12799
	{
		width: 49.55%;
		left: 50.46%;
	}

	#u5545
	{
		z-index: 14;
	}

	#u5774
	{
		z-index: 16;
	}

	#u5779
	{
		z-index: 18;
		margin-top: 17px;
	}

	#u5791
	{
		z-index: 20;
	}

	#u5545_img,#u5774_img,#u5779_img,#u5791_img
	{
		width: 100%;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 14px;
	}
}

@media (min-width: 321px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1231.95px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#menuu12755
	{
		z-index: 22;
		width: 16.28%;
	}

	#u12759
	{
		z-index: 25;
		width: 11.21%;
	}

	#u12757:hover #u12759
	{
		width: 11.21%;
	}

	#u12757:active #u12759
	{
		width: 11.21%;
	}

	#u12757.MuseMenuActive #u12759
	{
		width: 11.21%;
	}

	#u12760-4
	{
		width: 88.8%;
		left: 11.21%;
	}

	#u12757:hover #u12760-4
	{
		width: 88.8%;
	}

	#u12757:active #u12760-4
	{
		width: 88.8%;
	}

	#u12757.MuseMenuActive #u12760-4
	{
		width: 88.8%;
	}

	#u12761
	{
		width: 96%;
	}

	#menuu12791
	{
		z-index: 56;
		width: 18.36%;
		margin-left: 81.65%;
	}

	#u12792
	{
		width: 48.94%;
	}

	#u12799
	{
		width: 48.94%;
		left: 50.36%;
	}

	#u5545
	{
		z-index: 14;
	}

	#u5774
	{
		z-index: 16;
	}

	#u5779
	{
		z-index: 18;
		margin-top: 17px;
	}

	#u5791
	{
		z-index: 20;
	}

	#u5545_img,#u5774_img,#u5779_img,#u5791_img
	{
		width: 100%;
	}

	#u1433
	{
		min-height: 95px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.54%;
		left: 1.7%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.08%;
		left: 24.61%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.38%;
		left: 35.81%;
	}

	#u1433-bw
	{
		min-height: 95px;
		margin-top: 374px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1232px;
		max-width: 320px;
	}

	#menuu12755
	{
		z-index: 18;
		width: 16.25%;
	}

	#u12759
	{
		z-index: 21;
		width: 26.93%;
	}

	#u12757:hover #u12759
	{
		width: 26.93%;
	}

	#u12757:active #u12759
	{
		width: 26.93%;
	}

	#u12757.MuseMenuActive #u12759
	{
		width: 26.93%;
	}

	#u12760-4
	{
		width: 73.08%;
		left: 26.93%;
	}

	#u12757:hover #u12760-4
	{
		width: 73.08%;
	}

	#u12757:active #u12760-4
	{
		width: 73.08%;
	}

	#u12757.MuseMenuActive #u12760-4
	{
		width: 73.08%;
	}

	#u12761
	{
		width: 230.77%;
	}

	#menuu12791
	{
		z-index: 52;
		width: 18.44%;
		margin-left: 81.57%;
	}

	#u12792
	{
		width: 47.46%;
	}

	#u12799
	{
		width: 47.46%;
		left: 50.85%;
	}

	#u5545
	{
		z-index: 10;
	}

	#u5774
	{
		z-index: 12;
	}

	#u5779
	{
		z-index: 14;
		margin-top: 16px;
	}

	#u5791
	{
		z-index: 16;
	}

	#u5545_img,#u5774_img,#u5779_img,#u5791_img
	{
		padding-right: 115px;
		padding-bottom: 24px;
		width: 64.07%;
	}

	#u1433
	{
		min-height: 35px;
		padding-bottom: 16px;
	}

	#u1436
	{
		width: 19.38%;
		left: 4.69%;
	}

	#u1446
	{
		margin-top: 3px;
		width: 8.13%;
		left: 27.82%;
	}

	#u1433-bw
	{
		min-height: 35px;
		margin-top: 811px;
	}

	body
	{
		min-width: 320px;
	}

	#u1446_img
	{
		width: 100%;
	}
}

