.version.perfilpa /* version checker */
{
	color: #000000;
	background-color: #320104;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	background-color: #DD4A3A;
}

#u897-3,#u897-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu12960
{
	margin-right: -10000px;
	left: 20px;
	border-width: 0px;
	margin-top: 3px;
	position: relative;
	border-color: transparent;
	background-color: transparent;
}

#u12961
{
	margin-right: -10000px;
	min-height: 33px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12962
{
	padding-bottom: 16px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12964
{
	margin-right: -10000px;
	height: 14px;
	position: relative;
	top: 9px;
	background: transparent url("../images/arrowmenudown.png") no-repeat center center;
}

#u12962:hover #u12964,#u12962:active #u12964,#u12962.MuseMenuActive #u12964
{
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u12965-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	background-color: transparent;
}

#u12962:hover #u12965-4,#u12962:active #u12965-4,#u12962.MuseMenuActive #u12965-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u12966
{
	top: 33px;
	background-color: transparent;
}

#u12978
{
	margin-right: -10000px;
	left: 0%;
	top: 0px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u12978.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	background-color: #666666;
	margin: 0px -10000px 0px 0%;
}

#u12967,#u12982,#u12975,#u12989,#u12968
{
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12985,#u12990,#u12969
{
	margin-right: -10000px;
	border-width: 1px;
	position: relative;
	padding-bottom: 4px;
	border-color: #777777;
	width: 100%;
	background-color: #FFFFFF;
	border-style: solid;
}

#u12985:hover,#u12990:hover,#u12969:hover
{
	min-height: 0px;
	width: 100%;
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0%;
}

#u12987-4,#u12980-4,#u12991-4,#u12972-4
{
	margin-right: -10000px;
	left: 1.67%;
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	top: 2px;
	width: 95%;
	background-color: transparent;
}

#u12985:hover #u12987-4,#u12985.MuseMenuActive #u12987-4,#u12978:hover #u12980-4,#u12978.MuseMenuActive #u12980-4,#u12990:hover #u12991-4,#u12990.MuseMenuActive #u12991-4,#u12969:hover #u12972-4,#u12969.MuseMenuActive #u12972-4
{
	min-height: 13px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u12987-3,#u12980-3,#u12991-3,#u12972-3
{
	margin-right: 2px;
	color: #DD4A3A;
	margin-left: 2px;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
}

.MenuItem
{
	cursor: pointer;
}

#menuu12996
{
	margin-right: -10000px;
	left: -98px;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	margin-top: 3px;
	background-color: transparent;
}

#u12997,#u13004
{
	margin-right: -10000px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
}

#u13000,#u13007
{
	padding-bottom: 17px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u12962:hover,#u12962.MuseMenuActive,#u13000:hover,#u13007:hover
{
	min-height: 0px;
	width: 100%;
	background-color: #999999;
	margin: 0px 0px 0px 0%;
}

#u12962:active,#u13000:active,#u13007:active
{
	min-height: 0px;
	width: 100%;
	background-color: #6B6B6B;
	margin: 0px 0px 0px 0%;
}

#u13002-4,#u13008-4
{
	margin-right: -10000px;
	color: #DD4A39;
	min-height: 17px;
	border-width: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	text-align: center;
	top: 8px;
	border-color: transparent;
	width: 100%;
	background-color: transparent;
}

#u13000:hover #u13002-4,#u13000:active #u13002-4,#u13000.MuseMenuActive #u13002-4,#u13007:hover #u13008-4,#u13007:active #u13008-4,#u13007.MuseMenuActive #u13008-4
{
	min-height: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu9690-4
{
	width: 100%;
	margin-top: 103px;
}

#pu9691-4
{
	width: 100%;
	margin-top: 28px;
}

#u9690-4,#u9692-4,#u9691-4,#u9693-4
{
	margin-right: -10000px;
	color: #FFFFFF;
	min-height: 52px;
	position: relative;
	font-size: 36px;
	line-height: 43px;
	background-color: transparent;
}

#u1433_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u1436
{
	margin-right: -10000px;
	z-index: 6;
	position: relative;
}

#u1446
{
	margin-right: -10000px;
	z-index: 8;
	position: relative;
}

#u1433,#u1433-bw
{
	z-index: 5;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#pu897-3,#u1436_img
{
	width: 100%;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 683px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-bottom: -37px;
		width: 100%;
	}

	#menuu12960
	{
		z-index: 30;
		width: 16.34%;
	}

	#u12964
	{
		z-index: 33;
		width: 7.15%;
		left: 92.86%;
	}

	#u12962:hover #u12964
	{
		width: 7.15%;
	}

	#u12962:active #u12964
	{
		width: 7.15%;
	}

	#u12962.MuseMenuActive #u12964
	{
		width: 7.15%;
	}

	#u12965-4
	{
		width: 92.86%;
	}

	#u12962:hover #u12965-4
	{
		width: 92.86%;
	}

	#u12962:active #u12965-4
	{
		width: 92.86%;
	}

	#u12962.MuseMenuActive #u12965-4
	{
		width: 92.86%;
	}

	#u12966
	{
		width: 61.23%;
	}

	#menuu12996
	{
		z-index: 64;
		width: 18.34%;
		margin-left: 81.67%;
	}

	#u12997
	{
		width: 49.55%;
	}

	#u13004
	{
		width: 49.55%;
		left: 50.46%;
	}

	#u9690-4
	{
		z-index: 14;
		width: 12.09%;
		left: 22.67%;
	}

	#u9692-4
	{
		z-index: 22;
		width: 38.34%;
		left: 37.09%;
	}

	#u9691-4
	{
		z-index: 18;
		width: 27.84%;
		left: 22.42%;
	}

	#u9693-4
	{
		z-index: 26;
		width: 24.09%;
		left: 53.5%;
	}

	#u1433
	{
		min-height: 132px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.5%;
		left: 1.67%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.09%;
		left: 24.59%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.42%;
		left: 35.84%;
	}

	#u1433-bw
	{
		min-height: 132px;
		margin-top: 296px;
	}
}

@media (min-width: 321px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 682.95px;
		padding-bottom: 0px;
		max-width: 768px;
	}

	#menuu12960
	{
		z-index: 30;
		width: 16.28%;
	}

	#u12964
	{
		z-index: 33;
		width: 11.21%;
	}

	#u12962:hover #u12964
	{
		width: 11.21%;
	}

	#u12962:active #u12964
	{
		width: 11.21%;
	}

	#u12962.MuseMenuActive #u12964
	{
		width: 11.21%;
	}

	#u12965-4
	{
		width: 88.8%;
		left: 11.21%;
	}

	#u12962:hover #u12965-4
	{
		width: 88.8%;
	}

	#u12962:active #u12965-4
	{
		width: 88.8%;
	}

	#u12962.MuseMenuActive #u12965-4
	{
		width: 88.8%;
	}

	#u12966
	{
		width: 96%;
	}

	#menuu12996
	{
		z-index: 64;
		width: 18.36%;
		margin-left: 81.65%;
	}

	#u12997
	{
		width: 48.94%;
	}

	#u13004
	{
		width: 48.94%;
		left: 50.36%;
	}

	#u9690-4
	{
		z-index: 14;
		width: 12.11%;
		left: 22.66%;
	}

	#u9692-4
	{
		z-index: 22;
		width: 38.29%;
		left: 37.11%;
	}

	#u9691-4
	{
		z-index: 18;
		width: 27.87%;
		left: 22.4%;
	}

	#u9693-4
	{
		z-index: 26;
		width: 24.09%;
		left: 53.52%;
	}

	#u1433
	{
		min-height: 95px;
		padding-bottom: 20px;
	}

	#u1436
	{
		width: 19.54%;
		left: 1.7%;
	}

	#u1446
	{
		margin-top: 4px;
		width: 8.08%;
		left: 24.61%;
	}

	#u1456-4
	{
		z-index: 10;
		min-height: 95px;
		position: relative;
		margin-right: -10000px;
		width: 59.38%;
		left: 35.81%;
	}

	#u1433-bw
	{
		min-height: 95px;
		margin-top: 228px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.67499999999995px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#menuu12960
	{
		z-index: 26;
		width: 16.25%;
	}

	#u12964
	{
		z-index: 29;
		width: 26.93%;
	}

	#u12962:hover #u12964
	{
		width: 26.93%;
	}

	#u12962:active #u12964
	{
		width: 26.93%;
	}

	#u12962.MuseMenuActive #u12964
	{
		width: 26.93%;
	}

	#u12965-4
	{
		width: 73.08%;
		left: 26.93%;
	}

	#u12962:hover #u12965-4
	{
		width: 73.08%;
	}

	#u12962:active #u12965-4
	{
		width: 73.08%;
	}

	#u12962.MuseMenuActive #u12965-4
	{
		width: 73.08%;
	}

	#u12966
	{
		width: 230.77%;
	}

	#menuu12996
	{
		z-index: 60;
		width: 18.44%;
		margin-left: 81.57%;
	}

	#u12997
	{
		width: 47.46%;
	}

	#u13004
	{
		width: 47.46%;
		left: 50.85%;
	}

	#u9690-4
	{
		z-index: 10;
		width: 12.19%;
		left: 22.5%;
	}

	#u9692-4
	{
		z-index: 18;
		width: 38.44%;
		left: 37.19%;
	}

	#u9691-4
	{
		z-index: 14;
		width: 27.82%;
		left: 22.5%;
	}

	#u9693-4
	{
		z-index: 22;
		width: 24.07%;
		left: 53.44%;
	}

	#u1433
	{
		min-height: 35px;
		padding-bottom: 16px;
	}

	#u1433_align_to_page
	{
		margin-bottom: -1px;
	}

	#u1436
	{
		width: 19.38%;
		left: 4.69%;
	}

	#u1446
	{
		margin-top: 3px;
		width: 8.13%;
		left: 27.82%;
	}

	#u1433-bw
	{
		min-height: 35px;
		margin-top: -1px;
	}

	body
	{
		min-width: 320px;
	}

	#u1446_img
	{
		width: 100%;
	}
}

