.version.usuario_extranjero /* version checker */
{
	color: #0000FA;
	background-color: #76C10C;
}

#page
{
	z-index: 1;
	min-height: 700px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #DD4A3A;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.js body.initialized
{
	visibility: visible;
}

#u897-3,#u897-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu898
{
	z-index: 5;
	position: relative;
	margin-right: -10000px;
	width: 37.17%;
	left: 54.67%;
}

#u906
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.96%;
}

#u909
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u909:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u909:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u911-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u909:hover #u911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u909:active #u911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u913
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.96%;
	left: 33.41%;
}

#u916
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u909.MuseMenuActive,#u916:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u916:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u917-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u909.MuseMenuActive #u911-4,#u916:hover #u917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u916:active #u917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u899
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 33.19%;
	left: 66.82%;
}

#u902
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u916.MuseMenuActive,#u902:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u902:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u902.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u904-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u916.MuseMenuActive #u917-4,#u902:hover #u904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u902:active #u904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u902.MuseMenuActive #u904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1158-4
{
	z-index: 111;
	min-height: 49px;
	background-color: transparent;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	margin-top: 19px;
	position: relative;
	width: 54.34%;
	margin-left: 22.84%;
}

#widgetu1095
{
	z-index: 33;
	width: 0.01px;
	height: 543px;
	margin-top: 23px;
	position: relative;
	margin-left: 30.34%;
}

#widgetu1103
{
	z-index: 34;
	width: 474px;
	height: 67px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1103.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 474px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1106-4
{
	z-index: 35;
	width: 472px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1103.fld-err-st #u1106-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 472px;
	margin: 0px -10000px 0px 0px;
}

#u1105-4
{
	z-index: 39;
	width: 460px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 46px;
	padding: 6px;
	font-size: 24px;
	line-height: 24px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#muse_css_mq,#widgetu1103.non-empty-st #u1105-4
{
	background-color: #FFFFFF;
}

#widgetu1103:hover #u1105-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1103.focus-st #u1105-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1103.non-empty-st #u1105-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1103:hover #u1105-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1103.focus-st #u1105-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1103_input,#widgetu1103_prompt
{
	width: 460px;
	min-height: 24px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 24px;
	font-style: italic;
	padding: 6px;
}

#widgetu1108
{
	z-index: 43;
	width: 474px;
	height: 106px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: -1px;
}

#widgetu1108.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 474px;
	height: 106px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#u1111-4
{
	z-index: 44;
	width: 472px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 1px;
}

#widgetu1108.fld-err-st #u1111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 472px;
	margin: 39px -10000px 0px 0px;
}

#u1109-4
{
	z-index: 48;
	width: 460px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 46px;
	padding: 6px;
	font-size: 24px;
	line-height: 24px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#widgetu1108.non-empty-st #u1109-4
{
	background-color: #FFFFFF;
}

#widgetu1108:hover #u1109-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 68px -10000px 0px 0px;
}

#widgetu1108.focus-st #u1109-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 68px -10000px 0px 0px;
}

#widgetu1108.fld-err-st #u1109-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 68px -10000px 0px 0px;
}

#widgetu1108.non-empty-st #u1109-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1108:hover #u1109-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1108.focus-st #u1109-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1110-4
{
	z-index: 52;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu1108.fld-err-st #u1110-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1097
{
	z-index: 56;
	width: 474px;
	height: 67px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: -1px;
}

#widgetu1097.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 474px;
	height: 67px;
	min-height: 0px;
	margin: 182px -10000px 0px 0px;
}

#u1099-4
{
	z-index: 57;
	width: 472px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1100-4
{
	z-index: 61;
	width: 460px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 46px;
	padding: 6px;
	font-size: 24px;
	line-height: 24px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#widgetu1097.non-empty-st #u1100-4
{
	background-color: #FFFFFF;
}

#widgetu1097:hover #u1100-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1097.focus-st #u1100-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1097.non-empty-st #u1100-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1097:hover #u1100-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1097.focus-st #u1100-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1098-4
{
	z-index: 65;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 211px;
}

#widgetu1097.fld-err-st #u1098-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 16px -10000px 0px 0px;
}

#widgetu1112
{
	z-index: 69;
	width: 474px;
	height: 87px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: -1px;
}

#widgetu1112.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 474px;
	height: 87px;
	min-height: 0px;
	margin: 274px -10000px 0px 0px;
}

#u1113-4
{
	z-index: 70;
	width: 472px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1097.fld-err-st #u1099-4,#widgetu1112.fld-err-st #u1113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 472px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1103.fld-err-st #u1106-4 p,#widgetu1103.fld-err-st #u1106-4 span,#widgetu1108.fld-err-st #u1111-4 p,#widgetu1108.fld-err-st #u1111-4 span,#widgetu1097.fld-err-st #u1099-4 p,#widgetu1097.fld-err-st #u1099-4 span,#widgetu1112.fld-err-st #u1113-4 p,#widgetu1112.fld-err-st #u1113-4 span
{
	color: #D7244C;
}

#u1115-4
{
	z-index: 74;
	width: 460px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 46px;
	padding: 6px;
	font-size: 24px;
	line-height: 24px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#widgetu1112.non-empty-st #u1115-4
{
	background-color: #FFFFFF;
}

#widgetu1112:hover #u1115-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1112.focus-st #u1115-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1103.fld-err-st #u1105-4,#widgetu1097.fld-err-st #u1100-4,#widgetu1112.fld-err-st #u1115-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	width: 460px;
	margin: 29px -10000px 0px 0px;
}

#widgetu1112.non-empty-st #u1115-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1112:hover #u1115-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1112.focus-st #u1115-4 *
{
	color: #6B6B6B;
	font-style: normal;
}

#u1114-4
{
	z-index: 78;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 211px;
}

#widgetu1112.fld-err-st #u1114-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 67px -10000px 0px 0px;
}

#widgetu1103.fld-err-st #u1105-4 *,#widgetu1108.fld-err-st #u1109-4 *,#widgetu1108.fld-err-st #u1110-4 p,#widgetu1097.fld-err-st #u1100-4 *,#widgetu1097.fld-err-st #u1098-4 p,#widgetu1112.fld-err-st #u1115-4 *,#widgetu1112.fld-err-st #u1114-4 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1108_input,#widgetu1108_prompt,#widgetu1097_input,#widgetu1097_prompt,#widgetu1112_input,#widgetu1112_prompt
{
	width: 460px;
	min-height: 24px;
	color: #C4C4C4;
	font-size: 24px;
	font-style: italic;
	padding: 6px;
}

#widgetu1103.focus-st #widgetu1103_prompt,#widgetu1108.focus-st #widgetu1108_prompt,#widgetu1097.focus-st #widgetu1097_prompt,#widgetu1112.focus-st #widgetu1112_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1103:hover #widgetu1103_input,#widgetu1103.focus-st #widgetu1103_input,#widgetu1103.fld-err-st #widgetu1103_input,#widgetu1103:hover #widgetu1103_prompt,#widgetu1103.fld-err-st #widgetu1103_prompt,#widgetu1108:hover #widgetu1108_input,#widgetu1108.focus-st #widgetu1108_input,#widgetu1108.fld-err-st #widgetu1108_input,#widgetu1108:hover #widgetu1108_prompt,#widgetu1108.fld-err-st #widgetu1108_prompt,#widgetu1097:hover #widgetu1097_input,#widgetu1097.focus-st #widgetu1097_input,#widgetu1097.fld-err-st #widgetu1097_input,#widgetu1097:hover #widgetu1097_prompt,#widgetu1097.fld-err-st #widgetu1097_prompt,#widgetu1112:hover #widgetu1112_input,#widgetu1112.focus-st #widgetu1112_input,#widgetu1112.fld-err-st #widgetu1112_input,#widgetu1112:hover #widgetu1112_prompt,#widgetu1112.fld-err-st #widgetu1112_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu1103.non-empty-st #widgetu1103_prompt,#widgetu1108.non-empty-st #widgetu1108_prompt,#widgetu1097.non-empty-st #widgetu1097_prompt,#widgetu1112.non-empty-st #widgetu1112_prompt
{
	visibility: hidden;
}

#u1102-4
{
	z-index: 82;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 246px;
}

#widgetu1095.frm-sub-st #u1102-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1096-4
{
	z-index: 86;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 246px;
}

#widgetu1095.frm-subm-err-st #u1096-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1107-4
{
	z-index: 90;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 40px;
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 246px;
}

#widgetu1095.frm-sub-st #u1102-4,#widgetu1095.frm-subm-err-st #u1096-4,#widgetu1095.frm-subm-ok-st #u1107-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu1095.frm-subm-ok-st #u1107-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1101-17
{
	z-index: 94;
	min-height: 59px;
	width: 317px;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	background: url("../images/u1101-17.png") no-repeat 0px 0px;
}

#u1101-17:hover
{
	background: url("../images/u1101-17-r.png") no-repeat 0px 0px;
}

#u1101-17:active
{
	background: url("../images/u1101-17-m.png") no-repeat 0px 0px;
}

#widgetu1095.frm-sub-st #u1101-17
{
	background: url("../images/u1101-17-fs.png") no-repeat 0px 0px;
}

#u1433
{
	z-index: 24;
	min-height: 132px;
}

#u1433_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: -70px;
}

#u1436
{
	z-index: 25;
	position: relative;
	margin-right: -10000px;
	width: 19.5%;
	left: 1.67%;
}

#u1446
{
	z-index: 27;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 8.09%;
	left: 24.59%;
}

#u1456-4
{
	z-index: 29;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 59.42%;
	left: 36.09%;
}

#u1433-bw
{
	z-index: 24;
	min-height: 132px;
	margin-top: -70px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#pu897-3,#u1436_img
{
	width: 100%;
}

